includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/
        - packages/
    excludePaths:
        - packages/hbl/vendor/*
    level: 5
